:root {
  --theme-primary: #ff014f;
  --foreground-base: #000;
  --foreground-1: #000;
  --background-2: #fff;
  --background-1: #ccc;
  --background-gradient-1: linear-gradient(145deg, #1e2024, #23272b);
  --background-gradient-2: linear-gradient(to right bottom, #212428, #16181c);
  --line-ghost: rgba(255, 255, 255, 0.1);
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
  --rounded-sm: 0.25rem;
  --rounded-md: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-primary: #ff014f;
    --foreground-base: #FFF;
    --foreground-0: #E4E6EA;
    --foreground-1: #c4cfde;
    --foreground-2: #878e99;
    --background-1: #191b1e;
    --background-2: #212428;
    --background-3: #1b1c1d;
    --background-gradient-1: linear-gradient(145deg, #1e2024, #23272b);
    --background-gradient-2: linear-gradient(to right bottom, #212428, #16181c);
    --shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    --inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    --line-ghost: rgba(255, 255, 255, 0.1);
  }
}

*{
  box-sizing: border-box;
}

body,
html {
  font-family: var(--font-primary);
  color: var(--foreground-1);
  background-color: var(--background-2);
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  word-break: break-word;
  font-family: var(--font-secondary);
  line-height: 1.4074;
  color: var(--color-heading);
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
  color: var(--foreground-1)
}

.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  box-sizing: border-box;

  @media(min-width: 576px) {
    max-width: 546px
  }

  @media(min-width: 768px) {
    max-width: 768px
  }

  @media(min-width: 992px) {
    max-width: 992px;
  }

  @media(min-width: 1200px) {
    max-width: 1200px;
  }

  @media(min-width: 1440px) {
    max-width: 1440px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}