:root {
  --theme-primary: #ff014f;
  --foreground-1: #000;
  --background-2: #fff;
  --background-1: #ccc;
  --background-gradient-1: linear-gradient(145deg, #1e2024, #23272b);
  --background-gradient-2: linear-gradient(to right bottom, #212428, #16181c);
  --line-ghost: rgba(255, 255, 255, 0.1);
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
  --rounded-sm: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-primary: #ff014f;
    --foreground-1: #c4cfde;
    --foreground-2: #878e99;
    --background-2: #212428;
    --background-1: #191b1e;
    --background-gradient-1: linear-gradient(145deg, #1e2024, #23272b);
    --background-gradient-2: linear-gradient(to right bottom, #212428, #16181c);
    --line-ghost: rgba(255, 255, 255, 0.1);
  }
}

body,
html {
  font-family: var(--font-primary);
  color: var(--foreground-1);
  background-color: var(--background-2);
  scroll-behavior: smooth
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
  color: var(--foreground-1)
}

.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  box-sizing: border-box;

  @media(min-width: 576px) {
    max-width: 546px
  }

  @media(min-width: 768px) {
    max-width: 768px
  }

  @media(min-width: 992px) {
    max-width: 992px;
  }

  @media(min-width: 1200px) {
    max-width: 1200px;
  }

  @media(min-width: 1440px) {
    max-width: 1440px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}