.header {
    position: absolute;
    top: 0;
    z-index: 30;
    width: 100%;
    transition: 300ms;

    .navWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(min-width: 992px) {
            padding: 1rem 0;
        }

        .navToggle {
            font-size: 2rem;
            color: var(--theme-primary);

            @media(min-width: 992px) {
                display: none;
            }
        }

        .mobileOverlay {
            transition: all 500ms;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.8);
            opacity: 0;
            visibility: hidden;

            &.open {
                opacity: 1;
                visibility: visible;
            }

            @media(min-width: 992px) {
                display: none;
            }
        }

        nav {
            transition: all 500ms;
            position: fixed;
            left: -400px;
            top: 0;
            bottom: 0;
            width: 100%;
            background: var(--background-1);
            padding: 1.5rem 2.5rem;
            overflow-y: auto;

            &.open {
                left: 0;
            }

            @media(min-width: 420px) {
                width: 20rem;
            }
            @media(min-width: 992px) {
                position: relative;
                left: auto;
                top: auto;
                bottom: auto;
                width: auto;
                background: transparent;
                padding: 0.75rem;
            }

            .mobileNavTop {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 1.25rem;
                border-bottom: 1px solid var(--line-ghost);

                @media(min-width: 992px) {
                    display: none;
                }

                .closeNav {
                    background: var(--background-gradient-1);
                    color: var(--theme-primary);
                    font-size: 1rem;
                    border-radius: 50%;
                    height: 2.5rem;
                    width: 2.5rem;
                }

                p {
                    width: 100%;
                    margin-top: 1.5rem;
                    font-weight: 400;
                    color: var(--foreground-2);
                }
            }

            .navList {
                margin-top: 1.25rem;
                list-style: none;
                padding-left: 0;
                text-transform: uppercase;

                @media(min-width: 992px) {
                    display: flex;
                }

                li {
                    a {
                        transition: color 300ms;
                        margin: 1rem 0;
                        display: inline-block;
                        color: var(--foreground-1);

                        @media(min-width: 992px) {
                            margin: 0px 1rem;
                        }

                        &.active,
                        &:hover,
                        &:focus {
                            color: #fff;
                        }
                    }
                }
            }

            .mobileNavBottom {
                margin-top: 6.25rem;
                padding-top: 1.25rem;
                padding-bottom: 1.25rem;
                border-top: 1px solid var(--line-ghost);

                @media(min-width: 992px) {
                    display: none;
                }

                .heading {
                    text-transform: uppercase;
                    letter-spacing: 0.125rem;
                    font-weight: 500;
                    font-size: 0.875rem;
                }

                .socialList {
                    list-style: none;
                    padding-left: 0;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    li {
                        transition: transform 500ms;
                        position: relative;
                        margin-right: 1rem;

                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            background: var(--background-gradient-2);
                            border-radius: var(--rounded-sm);
                        }

                        &:hover {
                            transform: translateY(-0.25rem)
                        }

                        a {
                            position: relative;
                            transition: all 500ms;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: var(--background-2);
                            border-radius: var(--rounded-sm);
                            height: 3.25rem;
                            width: 3.25rem;
                            font-size: 1.25rem;



                            &:hover {
                                background: transparent;
                            }

                            svg {
                                position: relative;
                            }
                        }
                    }
                }
            }
        }
    }
}